/* div{
    height: 100px;

    overflow: auto;
    width: 100px;   
    background-color: bisque;
    border: 2px solid black;
} */
.body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}

.darkmode {
    background-color: black;
    color: white;
}